
body{
	background-color:#e5e5e5;
	
		
}

td
{
	border:2px solid black;
	width: 80px;
	height:60px;
	text-align:center;
}
th
{
	background-color:#00bf5f;
}
#uvalid
{
	background-color:#e5e5e5;
}
#valid
{
	background-color:#aad4ff;
}
#today
{
	background-color:orange;
}
#AL{
	color:green;
	text-align:right;
	font-weight:bold;
}
#DL{
	padding-top:-5px;
	color:red;
	font-size:30px;
	
}
table
{
	border: 2px solid black;
	animation: fade 1s forwards;
}
@-webkit-keyframes fade
{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
#homnay
{	
		font-family: Verdana, Arial, Helvetica, sans-serif;
		padding-left:25%;
		background-color:#00bfbf;
		z-index:0;
		margin-left:-10px;
		margin-right:-10px;
		margin-top:-20px;
		height:200px;
		animation: fade 0.5s forwards;
}
footer
{	height:40px;
	margin-left:-10px;
	margin-right:-10px;
	padding-top:-15px;
	padding-bottom:65px;	
	background-color:#00bfbf;
	text-align: center;
}
#leftimg
{
	position:absolute;
	top:35px;
	left:10%;
}
#rightimg
{	
	position:absolute;
	top:35px;
	right:10%;	
}

.table{
	position:static;
	}
#type
{	animation: fade 1s forwards;
}
#headRow
{
	height:40px;
}
#back{	font-weight:bold;
		background-color:orange;
		width:100px;font-size:20px;
		height:50px;
}
#next{	font-weight:bold;
		background-color:orange;
		width:100px;
		height:50px;font-size:20px;
}
#back:hover,#next:hover
{	
	background-color:#007f7f;
}
#myDate
{	padding-left:5px;
	font-size:35px;
	width:300px;
	font-weight:bold;
	
}
#done:hover{background-color:#007f7f;}
#done
{	padding-top:15px;
	font-size:20px;
	height:55px;
	width:150px;
	font-weight:bold;
	background-color:orange;
}
#lunar
{
	color:red;
}
#solar
{
	color:red;
}
#clock{
	color:#3f7f00;
margin-left	:50px;
}
#headRow,#Wday
{
	font-size:30px;
	height:50px;
}